    <!-- ******ABOUT****** -->
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">TreeWatch</h2>
            <p class="intro text-center">Sofa project of Fontys Venlo in corporation with GreenTechLab for tree nursery Fleuren</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Big data and monitoring for the tree nurseries</h3>
                        <p>Get all the information about your trees. Monitor what was done when.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-road"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Work on the road</h3>
                        <p>Enter data or view information while in the field. Automatically use GPS for selection of trees</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Suited for your needs</h3>
                        <p>Collect all your data in one place. Connect different information systems for all the information</p>
                    </div><!--//content-->
                </div><!--//item-->
            </div><!--//row-->
            <div class="row">
              <div class="item col-md-4 col-sm-6 col-xs-12">
                  <div class="icon-holder">
                      <i class="fa fa-tachometer"></i>
                  </div>
                  <div class="content">
                      <h3 class="sub-title">Easy to use dashboard</h3>
                      <p>See all the data in one glance in the easy to use dashboard</p>
                  </div><!--//content-->
              </div><!--//item-->
              <div class="item col-md-4 col-sm-6 col-xs-12">
                  <div class="icon-holder">
                      <i class="fa fa-desktop"></i>
                  </div>
                  <div class="content">
                      <h3 class="sub-title">Usable on your desktop and mobile</h3>
                      <p>Use the resposnible interface on every device you own. Also available as native apps for Android and iOS</p>
                  </div><!--//content-->
              </div><!--//item-->
            </div>
        </div><!--//container-->
    </section><!--//about-->
