    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <img  class="img-responsive" src="{{ site.baseurl }}/public/images/TreeWatch-Logo-New.svg" alt="Tree Logo">
            <p class="intro">Big data for the tree nurseries</p>
            <div class="btns">
                <a class="btn btn-cta-primary" href="#contact" >Contact</a>
            </div>
            <ul class="meta list-inline">
                <li>Made with <i class="fa fa-heart"></i> in the Netherlands</li>
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                    <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
                    <li class="github-star"><iframe src="http://ghbtns.com/github-btn.html?user=TreeWatch&repo=treewatch&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="20"></iframe></li>
                    <li class="github-fork"><iframe src="http://ghbtns.com/github-btn.html?user=TreeWatch&repo=treewatch&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="20"></iframe></li>
                    <li class="github-follow"><iframe src="https://ghbtns.com/github-btn.html?user=TreeWatch&repo=treewatch&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="170" height="20px"></iframe></li>

                </ul>
            </div>
        </div>
    </section><!--//promo-->
