<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xam.Plugins.Forms.ExtendedCell" version="1.0.0.19" targetFramework="MonoAndroid60" />
  <package id="Xam.Plugins.Forms.ExtendedMap" version="1.5.0.0" targetFramework="MonoAndroid60" />
  <package id="Xam.Plugins.Forms.Svg" version="1.0.0.25" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.0.1.1" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.0.1.1" targetFramework="MonoAndroid51" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.0.1.1" targetFramework="MonoAndroid51" />
  <package id="Xamarin.Forms" version="1.5.0.6447" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Forms.Maps" version="1.4.4.6449" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices" version="22.0.0.0" targetFramework="MonoAndroid60" />
</packages>