<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" package="nl.gtl.treewatch" android:versionName="0.1">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="21" />
	<application android:label="TreeWatch">
	</application>
</manifest>